forgot password page about to load
<div class="loginBlock">
  <div class="container">
    <ul>
      <li class="text-center display-4">Forgot Password</li>
      <li>
        <input type="text" class="form-control" placeholder="User ID" />
      </li>
      <li>
        <input
          type="button"
          class="btn btn-primary"
          value="Send details to mail"
          onclick="registerNewUser()"
        />
        <input
          type="button"
          class="btn btn-primary"
          value="Back to Login"
          onclick="loadSelectedPage('login')"
        />
      </li>
    </ul>
  </div>
</div>
