<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function SubmitClick(obj, e){
            document.write(`
                Button Id : ${obj.id} <br>
                Button Class : ${obj.className} <br>
                button Name : ${obj.name} <br>
                X position : ${e.clientX}
            `);
        }
    </script>
</head>
<body>
    <button onclick="SubmitClick(this, event)" id="btnSubmit" name="Submit" class="btn btn-primary">Submit</button>
</body>
</html>